{% extends 'index.html' %}

{% block title %} Listar Sede {% endblock %}

{% block content %}

    <H1>Sedes</H1>
<hr />
<div class="row">

    <div class="col-12 m-2">
        <div class="row">
            {% for sede in sedes %}
                <div class="col-md-3 col-sm-12 col-lg-4 pb-3">
                    <div class="card">
                        {% if sede.image %}
                        <img src="{{ sede.image.url }}" height="300" class="card-img-top" alt="{{ empresa.nom_comercial }}" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ sede.empresa }}</h5>
                            <h5 class="card-title">{{ sede }}</h5>
                            <h5 class="card-title">{{ sede.get_estado_display }}</h5>

                        </div>
                        <div class="card-footer text-center">


                            <a href="{% url 'sede_actualizar' sede.id %}" class="btn btn-secondary"> editar </a>
                            <a href="{% url 'sede_eliminar' sede.id %}" class="btn btn-danger"> eliminar </a>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}